

<h1>Estadísticas de consumo de las aulas</h1>
<%= column_chart Aula.pluck(:NombreAula, :ConsumoAula), xtitle: "Aula", ytitle: "Consumo"%>

<h3>Grafico de torta</h3>
<%= pie_chart Aula.pluck(:NombreAula, :ConsumoAula)%>
